In [1]:
import pandas as pd

In [7]:
df= pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')
print(df.head())

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [9]:
users = pd.DataFrame(df)
users.set_index('user_id', inplace=True)

In [11]:

df.tail(10)

     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

In [13]:
num_observation = users.shape[0]
print("Numbers of observation : ",num_observation)

Numbers of observation :  943

In [14]:
num_column = users.shape[1]
print("Number of columns:",num_column)

Number of columns: 4

In [19]:
column_names = users.columns.tolist()
print("column_name:")
for column in column_names:
    print(column)

column_name:
age
gender
occupation
zip_code

In [20]:
users = pd.DataFrame(df)
users.set_index('user_id', inplace=True)

In [21]:
data_type = users.dtypes
print(data_type)

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [22]:
occupation_column = users['occupation']
print(occupation_column)

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [24]:
unique_occupation = users['occupation'].nunique()
print(unique_occupation)

21

In [27]:
most_occcupation = users['occupation'].value_counts.idxmax()
print(most_occupation)

AttributeError: 'function' object has no attribute 'idxmax'

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip_code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB

In [31]:
description = users.describe(include='all')
print(description)

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

In [32]:
summrize = users['occupation'].describe()
print(summrize)

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [33]:
mean_age = users['age'].mean()
print(mean_age)

34.05196182396607

In [35]:
age_counts = users['age'].value_counts()
min_occurance = age_counts[age_counts == age_counts.min()].index.tolist()
print(min_occurance)

[7, 66, 11, 10, 73]